*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   /* Primary */
   --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

   /* Neutral */
   --Light-Grayish-Cyan: hsl(180, 52%, 96%); /* (Background) */
   --Light-Grayish-Cyan: hsl(180, 31%, 95%); /* (Filter Tablets) */
   --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
   --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body{ 
    width: 100vw;
    font: normal 500 15px/1 "League Spartan"; 
    background-color: var(--Light-Grayish-Cyan);
    overflow-x: hidden;
}